<h1>Add student </h1>

<form method="post" action="/student/create">
<input type="text" name="batch" placeholder="batch"/>
<input type="text" name="studentid" placeholder="studentid"/>
<input type="text" name="name" placeholder="name"/>
<input type="text" name="college" placeholder="college"/>
<input type="text" name="status" placeholder="status"/>
<h1>Scores</h1>
<label>dsa</label>
<input type="number" name="dsa" />
<label>webdev</label>
<input type="number" name="web" />
<label>react</label>
<input type="number" name="react" />
<label>total</label>
<input type="number" name="total" />
<br/>
<br/>
<br/>
<button type="submit">submit</button>
</form>